* {
    margin: 0;
    padding: 0;
}
/* Navigation Bar */
.navbar {
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: auto;
    overflow: hidden;
    justify-content: center;
    padding: 10px;
}

ul {
    list-style: none;
    text-decoration: none;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

a:active {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
    color: white;
    background: slategray;
    opacity: 80%;
}

a:visited {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

/* Homepage */
form {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-container {
    display: flex;
}

.homepage {
    font-family: Robotica, sans-serif;
    padding: 5px;
}

.homepage-img img {
    height: auto;
    width: 300px;
    padding: 8px;
}

/* Body */
body {
    height: auto;
    min-width: 320px;
    max-width: 2000px;
    overflow: scroll;
}

input {
    font-size: 18px;
}

button {
    border-radius: 7px;
    padding: 3.5px;
    background: darkblue;
    color: white;
    font-size: 14px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    background: lightskyblue;
    padding: 1px;
    width: 100%;
    text-align: center;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#greeting {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* About Styling */
.about-container {
    font-family: Robotica, sans-serif;
    padding: 1rem;
}

/* Shop Styling */
.shop-container {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bestseller-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 25%;
}

.shop-title {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shop-img {
    height: auto;
    width: auto;
}

.shop-details {
    padding: 5px;
}

.shop-price {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sale-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 20%;
}

.new-arrival-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 25%;
}

.add-to-cart-button {
    font-size: 18px;
    background: lightsteelblue;
    color: black;
    border-radius: 5px;
    padding: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.shop-buttons {
    display: flex;
    justify-content: center;
}

a #cart-style {
    color: black;
    background-color: white;
    
}

.remove-button {
    border: solid;
    padding: 0.3em;
    border-radius: 10px;
    cursor: pointer;
    background: red;
    color: white;
}

/* Cart Styling */
.cart-container {
    padding-bottom: 1em;
}

.cart-heading h2 {
    text-align: center;
}

table {
    display: flex;
    justify-content: center;
}

tr {
    display: flex;

}

td {
    display: flex;
    border: 1px solid black;
    padding: 0.75em;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}
