* {
    margin: 0;
    padding: 0;
}
/* Navigation Bar */
.navbar {
    min-width: 320px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: auto;
    overflow: hidden;
    justify-content: center;
    padding: 10px;
}

ul {
    list-style: none;
    text-decoration: none;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

a:active {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
    color: white;
    opacity: 80%;
}

a:visited {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

/* Homepage */
.home-container {
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding-right: 10px;
}

.homepage {
    display: flex;
    font-family: Robotica, sans-serif;
    padding: 5px;
    text-align: center;
}

.homepage-img img {
    display: flex;
    height: auto;
    width: 500px;
    padding: 8px;
    text-align: center;
}

.homepage-img img:hover {
    cursor: pointer;
    opacity: .70;
}

/* Body */
body {
    height: auto;
    min-width: 320px;
    max-width: 2000px;
}

input {
    font-size: 18px;
}

button {
    border-radius: 7px;
    padding: 3.5px;
    background: darkblue;
    color: white;
    font-size: 14px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    background: lightskyblue;
    padding: 1px;
    width: 100%;
    text-align: center;
}

/* Cart / Modal Styling */
#yourCartButton {
    display: flex;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.close {
    display: flex;
    margin: auto;
    padding-left: 10px;
}

.modal {
    margin-top: 10px;
    display: none;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modalContent {
   text-align: center;
}

.cart-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cartButtons {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: right;
    padding-right: 10px;
}

/* Shop Styling */
.shop-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

h2 {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bestseller-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 25%;
}

.shop-title {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shop-img {
    height: auto;
    width: auto;
    cursor: pointer;
}

.shop-details {
    padding: 5px;
}

.shop-price {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sale-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 20%;
}

.new-arrival-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 25%;
}

.add-to-cart-button {
    font-size: 18px;
    background: lightsteelblue;
    color: black;
    border-radius: 5px;
    padding: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.shop-buttons {
    display: flex;
    justify-content: center;
}

a #cart-style {
    color: black;
    background-color: white;
    
}

.remove-button {
    border: solid;
    padding: 0.3em;
    border-radius: 10px;
    cursor: pointer;
    background: red;
    color: white;
}

/* Cart Styling */
.cart-container {
    padding-bottom: 1em;
    margin: 2rem;
}

.cart-heading h2 {
    text-align: center;
}

.instruction {
    display: flex;
    margin-left: 1em;
    font-size: 26px;
}

.cart-content {
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 0.5em;
    font-size: 22px;
}

.cart-content:hover {
    background-color: white;
    cursor: pointer;
}

.cart-quantity {
    display: flex;
}

.btn-minus {
    padding-right: 0.3em;
    cursor: pointer;
}

.btn-plus {
    padding-left: 0.3em;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    font-size: 30px;;
}

.checkout {
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 400px;
    border: 2px solid;
}

.checkout:hover {
    background: green;
    color: white;
}

.cartButtons button {
    cursor: pointer;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}