/* Navigation Bar */

ul {
    list-style: none;
    text-decoration: none;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding-left: 7rem;
    padding-right: 7rem;
}

a:active {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
    color: white;
    background: darkgrey;
    opacity: 80%;
}

a:visited {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: auto;
    overflow: hidden;
    justify-content: center;
}

/* Homepage */

.home-container {
    display: flex;
}

.homepage-text {
    font-family: Robotica, sans-serif;
    padding: 1rem;
}

.homepage-img img {
    height: auto;
    width: 300px;
}

.shopnow {
    font-size: 24px;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 3rem;
    padding: 20px;
    height: auto;
    width: 100px;
    background-color: #2B58B4;
    color: white;
}

.shopnow:hover {
    background-color: grey;
    color: black;
}

/* Body */
body {
    height: auto;
    min-width: 320px;
    max-width: 2000px;
}

/* Shop Styling */
.shop-container {
    display: flex;
    font-family: Robotica, sans-serif;
}

.new {
    padding: 1.5rem;
    cursor: pointer;
}
.new img {
    height: auto;
    width: 200px;
}
.new h2 {
    font-size: 24px;
}
.new h3 {
    font-size: 18px;
    margin-bottom: 0;
}
.new h4 {
    font-size: 18px;
    margin-top: 0;
}

.sale {
    padding: 1.5rem;
    cursor: pointer;
}
.sale img {
    height: auto;
    width: 200px;
}
.sale h2 {
    font-size: 24px;
}
.sale h3 {
    font-size: 20px;
    margin-bottom: 0;
}
.sale h5 {
    text-decoration: line-through;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.sale h4 {
    font-size: 18px;
    color: green;
    margin-top: 0;
}

.bestseller {
    padding: 1.5rem;
    cursor: pointer;
}
.bestseller img {
    height: auto;
    width: 200px;
}
.bestseller h3 {
    font-size: 18px;
    margin-bottom: 0;
}
.bestseller h4 {
    font-size: 18px;
    margin-top: 0;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding-left: 0rem;
    margin-left: 0;
}