<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li><a class="navbar-brand" href="/templates/index.html">Home</a></li>
                <li><a class="navbar-shop" href="shop.html">Shop</a></li>
            </ul>
        </nav>
    </header>
    <div class="register">
        <h1>Register</h1>
        <div class="links">
            <a href="{{ url_for('login') }}" class="active">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
        <form action="" method="post" autocomplete="off">
            <label for="username">
                <i class="fa fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
                <i class="fa fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <label for="email">
                <i class="fa fa-envelope-open"></i>
            </label>
            <input type="email" name="email" placeholder="Email" id="email" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>